$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$goth-font: 'Almendra SC', serif;
$tropical-font: 'Corben', cursive; 
$drippy-font: 'La Belle Aurore', cursive;
